body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-weight: 500;
    color: purple;
    width: auto;
    margin: auto;
    background-color: #f5f5f5;
  }
  
  td > a {
    text-decoration: none;
    color: blue;
  }
  td > b {
    color: #37474f;
  }
  #maincontent {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .details {
    padding: 2%;
  }
  
  #resumeimg {
    width: 230px;
    height: 230px;
    border-radius: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #resumesection {
    padding: 2%;
    background-color: #dee4e7;
  }
  
  #qualification {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    border-collapse: collapse;
  }
  
  #qualification td {
    border: 1px solid #e2b2a1;
    padding: 8px;
  }
  
  #qualification tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #qualification tr:hover {
    background-color: #ddd;
  }
  
  @media screen and (max-width: 1024px) {
    #maincontent {
      display: flex;
      flex-flow: column;
      flex-wrap: wrap;
      align-content: center;
    }
  }
  
  b {
    white-space: nowrap;
  }
  
  @media screen and (min-width: 321px) and (max-width: 480px) {
    #maincontent {
      font-size: 13px;
    }
    .details,
    #resumesection {
      padding: 5%;
    }
    #resumeimg {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 180px;
      height: 180px;
    }
  }
  @media screen and (min-width: 280px) and (max-width: 320px) {
    #maincontent {
      font-size: 11px;
    }
    .details,
    #resumesection {
      padding: 6%;
    }
    #resumeimg {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 130px;
      height: 130px;
    }
  }
  